.Chatblock{
    background-color: #0d1117;
    height: 100vh;
    .Buttons{
        text-align: center;
    }
}

.header{
    padding: 20px;
    &:hover{
        cursor: pointer;

    }
    h3{
        color: gray;
        text-transform: uppercase;
        padding-left: 20px;

        i{
            color: orangered;
            margin-right: 20px;
        }
    }


}