.flex{
    display: flex;
}
.chatbx{
    // display: flex;
    margin-bottom: 2px;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2b2b;

    padding: 10px;
    padding-left: 20px;

    
  background: linear-gradient(to right, rgb(43, 12, 46) 50%, #130d0d00 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
//   border: 1px solid rgb(139, 139, 139);
  border-left: 4px solid #ebebeb00;


  &:hover {
    background-position:  bottom  left;
  }
  
.members{
    h6{
        color: rgb(243, 149, 149);
    }
    img{
        height: 35px;
        width: auto;
        border-radius: 50%;
    }
}
 
    .imgdiv{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 60px;
        width: 65px;
        margin: 10px 0px;
        margin-right: 10px;
        // border: 2px solid rgb(0, 0, 0);
        overflow: hidden;
        img{
            height: 60px;
            width: auto;
        }
    }

    &:hover{
        cursor: pointer;
        border-left: 4px solid orangered;

        .overlay{
            width: 100%;
        }
    }


    .Chat_info{
        width: 70%;
        overflow: hidden;
        h5{
            color: rgb(255, 255, 255);
            font-size: 22px;
        }
        h6{
            color: rgb(133, 133, 133);
            font-size: 15px;
            height: 20px;
            overflow: hidden;
        }

    
    }

    .date{
        text-align: right;
        color: gray;

        h6{
            font-size: 9px;
        }

    }
}

