.profile{
    display: flex;

    .imgdiv{
        border-radius: 50%;
        height: 70px;
        width: 70px;
        overflow: hidden;
        img{
            height: 70px;
            width: auto;
        }
    }
    
  
    background-color: #30363d;
    // background-color: aliceblue;
   padding: 10px;
   justify-content: space-between;
    
  
  
    .info{
      text-align: left;
      
      
        h4{
            color: rgb(241, 241, 241);
            font-size: 20px;

        }
    }
  }
.menu{
    background-color: #0d1117;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 30px 40px 30px 10px black;
 
  
    h1{
        color: orangered;
        letter-spacing: 2px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 6px;
        font-size: 30px;
    }

    .btns{
      margin-left: auto;

    }
    button{
       background-color: orangered;
       border: 0px;
       padding: 10px 20px;
       margin: 10px;
       border-radius: 40px;
       color: white;


       &:hover{
           cursor: pointer;
          box-shadow: 0px 10px 20px -10px black;
           color: rgb(0, 255, 21);
       }
    }
}


.left {

    background-color: #1b1f23;
text-align: center;
  margin: 0px;
//   padding: 20px;
  align-items: center;

 
}

.right {
  background-color: #000000;
  background-color: #0d1117;
  
background-size: 98%; 
  margin: 0px;
  padding: 10px;
  
  // height: 100vh;

}



.block{
    height: 100vh;
    width: 100%;
    }

.Chatrooms{
    text-align: left;
    // padding: 15px;
    // padding-top: 15px;
    h2{
        color: gray;
            padding: 20px 10px 0px 20px ;

        word-spacing: 3px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

.Rooms{
    // margin-top: 20px;
}
// For Mobile View
@media (max-width: 765px) {
    .left {
    //    display: none;
    margin: 0px;
    height: 90vh;
    overflow-y: scroll;

    }

   
      .menu{
      
    .hidden{
        display: none;
    }

    .log{
        button{
            padding: 10px 20px;
        }
    }
        h1{
               font-size: 20px;
        }

       
      }

      .right {
          display: none;
      }
}

// For Desktop View
@media (min-width: 765px) {
  .main {
    display: flex;
    
  }
  .menu {
    
    .log{
        display: none; 
    }
  }
  .left {
    width: 25%;
    height: 100vh;
    overflow-y: scroll;


  }

  .right {
    width: 75%;
    .box{
      margin: 20%;
    }
  }



}



.menu{
h1{
    margin: 0px;
}
}






























  
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  // width: 100%; /* Full width */
  // height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(151, 148, 148); /* Fallback color */
  background-color: rgba(112, 112, 112, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  // border: 1px solid #888;
  width: 80%;
  text-align: left;
  align-items: left;
}

.modal-content >h5{
color: rgb(0, 238, 255);
text-transform: uppercase;
margin-top: 20px;
}

.modal-content >h6{
  color: rgb(16, 153, 23);
  text-transform: uppercase;
  margin-top: 20px;
  }
  .modal-content>h1{
      font-family: Bioweapon , sans-serif;
      color: rgb(212, 0, 255);
      font-size: 22px;
  }


p{
    color: rgb(255, 251, 251);
}
.close {
  color: #fd0000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  /* background-color: rgba(255, 0, 0, 0.212); */
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: right;
  align-items: right;
  padding-right: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




@media (max-width: 768px) {

  .Tech_area{
      display: block;
      margin: 10px;
   }


  .Tech_box{
      margin: 20px;
  }


  .Tech_box >img{
      height: 200px;
      width: 100%;
      display: flex;
      border-radius: 5px;
  }

  .Tech_title {
      font-size: 20px;
      margin-bottom: 40px;
  }
  .modal-content >img{
      height: 200px;
      border-radius: 5px;
  }
  .modal-content>h1{
      font-size: 16px;
  }

  
.modal-content {
  margin: 10px;
width: 95%;
}
}


.bigbtn> button{

  background-color: transparent;
  border-width: 0px;
  

}