.room{
    background-color: #0d1117;
    // height: 100vh;

    .chatblock{
        display: flex;

        .Chatbox{
            height: 85vh;
          

            background-color: #ffffff;
            
            display: flex;
            flex-direction: column;
            .msgs{
                height: 90%;
                padding: 10px;
                overflow-y: scroll;
                padding-bottom: 150px;
            }
            .send{
                align-items: center;
                background-color: rgb(248, 248, 248);
                margin: 0px;

                margin-top: auto;

                input{
                    
                    font-size: 18px;
                    border: 0px;
                    padding: 5px 10px;
                    outline: 0px;
                    color: rgb(255, 0, 0);
                    border-radius: 20px;
                    margin: 10px;
                    background-color: rgb(216, 216, 216);
                    
                    &::placeholder{
                        color: rgb(126, 126, 126);
                        font-size: 15px;
                    }

                     
                }
                button{
                    padding: 6px 0px;
                    background-color: rgba(128, 128, 128, 0);
                    border: 0pc;
                    outline: 0px;

                    i{
                        font-size: 25px;
                        color: rgb(0, 0, 0);
                    }
                }
            }

        }

        .Chatmembers{
           
            padding: 20px;
            height: 80vh;
            overflow-y: scroll;
         
            h1{
                color: orangered;
                font-size: 25px;
                text-transform: uppercase;
            }
            .Admin{
                background-color: #12161d;
                padding: 10px;
                margin: 10px;
               
                margin-left: 0px;
                h1{
                    color: green;
                    font-size: 15px;
                }
                
                &:hover{
                    cursor: pointer;
                    // transform: scale(1.1);
                    box-shadow: 0px 6px 20px -10px rgb(6, 69, 88);

                }

            }
            .Memberblock{
                display: flex;
                
                border-radius: 10px;
                align-items: center;
                .mem_info{
                    padding-left: 10px;
                    h6{
                        font-size: 20px;
                        color: white;
                    }

                    h2{
                        font-size: 13px;
                        color: gray;
                    }
                }

               
               
                .imgdiv{
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    height: 60px;
                    width: 65px;
                    margin: 10px 0px;
                    margin-right: 10px;
                    overflow: hidden;
                    img{
                        height: 60px;
                        width: auto;
                    }
                }

            
            }
        }
    }
    
}

// For Mobile View
@media (max-width: 765px) {
    .Chatmembers{
        display: none;
        // width: 100%;

    }
    .Chatbox{

        width: 100%;
        display: none;

        margin: 0px;
    }
    .send{
        position: fixed;
        width: 100%;
        bottom: 0;
        input{
            width:80%;
        }
    }

    .chatblock{
        display: none;

    }

}

@media (min-width: 765px) {

    .Chatbox{
        margin: 10px;
        width: 70%;
        border-radius: 20px;
    }
    .send{
        
        input{
            width: 90%;
        }
    }

    .Chatmembers{
        // display: none;
        width: 30%;

    }

}

