.isYou{
    margin-left: auto;
    border-radius: 20px;

    border-bottom-right-radius:0px ;
    background-color: rgba(153, 0, 255, 0.349);


}
.sender{
    border-radius: 20px;

    border-top-left-radius:0px ;
    background-color: rgba(2, 238, 255, 0.349);


}

.Message_box{
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 20px -10px black;
    
    h1{
        font-size: 15px;

    }

    h6{
        color: gray;
        font-size: 10px;
        text-align: end;
    }

        .Admin{
            display: flex;
            align-items: center;
            h2{
                font-size: 15px;
                text-transform: uppercase;
            }
            .imgdiv{
                border-radius: 50%;
                display: flex;
                justify-content: center;
                height: 40px;
                width: 45px;
                margin: 10px 0px;
                margin-right: 10px;
                overflow: hidden;
                img{
                    height: 40px;
                    width: auto;
                }
            }
        }
}
    


@media (max-width: 765px) {
    .Message_box{
        width: 90%;
    }

}

@media (min-width: 765px) {

    .Message_box{
        width: 50%;
    }

}