.isYou{
    margin-left: auto;
    border-radius: 10px;
    color: rgb(255, 255, 255);

    border-bottom-right-radius:0px ;
    background-color: #0086ff;

  

}
.sender{
    color: rgb(0, 0, 0);

    border-radius: 10px;

    border-bottom-left-radius:0px ;
    background-color: rgba(204, 204, 204, 0.884);


}



.Message_box{
    padding: 10px;
    margin-bottom: 20px;
    // box-shadow: 0px 10px 20px -10px rgb(192, 189, 189);
    overflow: hidden;
    
    h1{
        font-size: 15px;

    }

    h6{
        color: gray;
        font-size: 10px;
        text-align: end;
    }

      
        }


        .fullmsg{
            display: flex;
            justify-content: flex-start;
            

            

        }

        .none{
            display: none;
        }
    .right{
    display: flex;
    background-color: #ffffff;
    padding: 0px;
    }

        .timestamp{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            top: -15px;
                left: -60px;
            h2{
                font-size: 12px;
                color: gray;

                padding-right: 10px;
        
            }
            h6{
                color: gray;
                font-size: 12px;
            }
        }

        .other{
           
                display: flex;
                align-items: center;
                position: relative;
                top: -15px;
                left: 60px;
              
            
                h2{
                    font-size: 12px;
                    color: gray;
    
                    padding-right: 10px;
            
                }
                h6{
                    color: gray;
                    font-size: 12px;
                }
            

        }
@media (max-width: 765px) {
    .Message_box{
        width: 60%;
    }
   
}

@media (min-width: 765px) {

    .Message_box{
        width: 50%;
    }

   

}

.Admin{
    // display: flex;
    align-items: center;
   
    .imgdiv{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 40px;
        width: 45px;
        margin: 10px 0px;
        margin-right: 10px;
        overflow: hidden;
        img{
            height: 40px;
            width: auto;
        }
    }

}


.room .chatblock .Chatbox .msgs {
    height: 90%;
    padding: 10px;
    overflow: hidden;
    padding-bottom: 150px;
}